In [1]:
import numpy as np 
import pandas as pd

C:\Users\vicky\AppData\Local\Temp\ipykernel_14608\118197663.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
dict={"name":["vicky","soumya","tanisha,"hrik"],
       "email":["eg1","eg2","eg3","eg4"],
       "phone_no":[123,321,345,543]
     }

SyntaxError: unterminated string literal (detected at line 1) (3374431849.py, line 1)

In [3]:
my_dict = {
    "name": ["vicky", "soumya", "tanisha", "hrik"],
    "email": ["eg1", "eg2", "eg3", "eg4"],
    "phone_no": [123, 321, 345, 543]
}

In [4]:
df=pd.DataFrame

In [5]:
df=pd.DataFrame(dict)

ValueError: DataFrame constructor not properly called!

In [6]:
d=pd.DataFrame(dict)

ValueError: DataFrame constructor not properly called!

In [7]:
my_dict = {
    "name": ["vicky", "soumya", "tanisha", "hrik"],
    "email": ["eg1", "eg2", "eg3", "eg4"],
    "phone_no": [123, 321, 345, 543]
}

In [9]:
df=pd.DataFrame(my_dict)

In [10]:
df

      name email  phone_no
0    vicky   eg1       123
1   soumya   eg2       321
2  tanisha   eg3       345
3     hrik   eg4       543

In [11]:
df.to_csv('try.csv')

In [12]:
vicky=pd.read_csv('try.csv')

In [13]:
vicky

   Unnamed: 0     name email  phone_no
0           0    vicky   eg1       123
1           1   soumya   eg2       321
2           2  tanisha   eg3       345
3           3     hrik   eg4       543

In [16]:
vicky['email'][0]='vickybhattacharya19@gmail.com'

C:\Users\vicky\AppData\Local\Temp\ipykernel_14608\1059835320.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vicky['email'][0]='vickybhattacharya19@gmail.com'

In [17]:
vicky

   Unnamed: 0     name                          email  phone_no
0           0    vicky  vickybhattacharya19@gmail.com       123
1           1   soumya                            eg2       321
2           2  tanisha                            eg3       345
3           3     hrik                            eg4       543

In [18]:
vicky.to_csv('try.csv')

In [19]:
vicky.read_csv('try.csv')

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [20]:
vicky=pd.DataFrame(my_dict
                )

In [21]:
vicky

      name email  phone_no
0    vicky   eg1       123
1   soumya   eg2       321
2  tanisha   eg3       345
3     hrik   eg4       543

In [22]:
vicky.index=['one','two','three','four']

In [23]:
vicky

          name email  phone_no
one      vicky   eg1       123
two     soumya   eg2       321
three  tanisha   eg3       345
four      hrik   eg4       543